In [1]:
import numpy as np
import pandas as pd
from math import factorial
import random

### Задание №1

Даны значения зарплат из выборки выпускников: 100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150. Посчитать (желательно без использования статистических методов наподобие std, var, mean) среднее арифметическое, среднее квадратичное отклонение, смещенную и несмещенную оценки дисперсий для данной выборки.

In [2]:
salary = pd.DataFrame([100, 80, 75, 77, 89, 33, 45, 25, 65, 17, 30, 24, 57, 55, 70, 75, 65, 84, 90, 150])
salary

      0
0   100
1    80
2    75
3    77
4    89
5    33
6    45
7    25
8    65
9    17
10   30
11   24
12   57
13   55
14   70
15   75
16   65
17   84
18   90
19  150

In [3]:
# Cреднее арифметическое
arithmetic_mean = salary.sum() / salary.count()
arithmetic_mean

0    65.3
dtype: float64

In [4]:
# Среднеквадратичное отклонение
root_mean_square_deviation = np.sqrt(((salary - arithmetic_mean)**2).sum() / salary.count())
root_mean_square_deviation

0    30.823854
dtype: float64

In [5]:
# Смещенная оценка дисперсии
displaced_dispersion_assessment = ((salary - arithmetic_mean)**2).sum() / salary.count()
displaced_dispersion_assessment

0    950.11
dtype: float64

In [6]:
# Несмещенная оценка дисперсии
not_displaced_dispersion_assessment = ((salary - arithmetic_mean)**2).sum() / (salary.count() - 1)
not_displaced_dispersion_assessment

0    1000.115789
dtype: float64

### Задание №2

В первом ящике находится 8 мячей, из которых 5 - белые. Во втором ящике - 12 мячей, из которых 5 белых. Из первого ящика вытаскивают случайным образом два мяча, из второго - 4. Какова вероятность того, что 3 мяча белые?

In [7]:
# Метод Монте-Карло

n = 100000
m = 0

for i in range(n):
    a = [1, 1, 1, 1, 1, 0, 0, 0]
    b = [1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0]
    random.shuffle(a)
    random.shuffle(b)
    if (a.pop() + a.pop() + b.pop() + b.pop() + b.pop() + b.pop()) == 3:
        m += 1
P = m / n
P

0.3695

### Задание №3

На соревновании по биатлону один из трех спортсменов стреляет и попадает в мишень. Вероятность попадания для первого спортсмена равна 0.9, для второго — 0.8, для третьего — 0.6. Найти вероятность того, что выстрел произведен: a). первым спортсменом б). вторым спортсменом в). третьим спортсменом.

a) Выстрелы произведены первым спортсменом

In [8]:
P1 = 0.3 / (0.3 + 0.8 / 3 + 0.2)
P1

0.391304347826087

б) Выстрелы произведены вторым спортсменом

In [9]:
P2 = 0.8 / 3 /(0.3 + 0.8 / 3 + 0.2)
P2

0.3478260869565218

в) Выстрелы произведены третьим спортсменом

In [10]:
P3 = 0.2 / (0.3 + 0.8 / 3 + 0.2)
P3

0.26086956521739135

In [11]:
P1 + P2 + P3

1.0

### Задание №4

В университет на факультеты A и B поступило равное количество студентов, а на факультет C студентов поступило столько же, сколько на A и B вместе. Вероятность того, что студент факультета A сдаст первую сессию, равна 0.8. Для студента факультета B эта вероятность равна 0.7, а для студента факультета C - 0.9. Студент сдал первую сессию. Какова вероятность, что он учится: a). на факультете A б). на факультете B в). на факультете C?

a). На факультете A

In [12]:
P1 = 0.2 / (0.2 + 0.7 / 4 + 0.45)
P1

0.24242424242424246

б). На факультете B

In [13]:
P2 = 0.7 / 4 / (0.2 + 0.7 / 4 + 0.45)
P2

0.21212121212121213

в). На факультете С

In [14]:
P3 = 0.45 / (0.2 + 0.7 / 4 + 0.45)
P3

0.5454545454545455

In [15]:
P1 + P2 + P3

1.0

### Задание №5

Устройство состоит из трех деталей. Для первой детали вероятность выйти из строя в первый месяц равна 0.1, для второй - 0.2, для третьей - 0.25. Какова вероятность того, что в первый месяц выйдут из строя: а). все детали б). только две детали в). хотя бы одна деталь г). от одной до двух деталей?

In [16]:
P1 = 0.1
P2 = 0.2
P3 = 0.25
Q1 = 1 - P1
Q2 = 1 - P2
Q3 = 1 - P3

а). Все детали

In [17]:
P_3 = P1 * P2 * P3
P_3

0.005000000000000001

б). Только две детали

In [18]:
# Из строя выйдут первая и вторая детали, а третья будет работать
p1 = P1 * P2 * Q3

# Из строя выйдут вторая и третья детали, а первая будет работать
p2 = Q1 * P2 * P3

# Из строя выйдут первая и третья деталь, а вторая будет работать
p3 = P1 * Q2 * P3

In [19]:
P_2 = p1 + p2 + p3
P_2

0.08000000000000002

в). Хотя бы одна деталь

In [20]:
# Вероятность того, что не выйдет из строя ни одна деталь
P_0 = Q1 * Q2 * Q3

In [21]:
P = 1 - P_0
P

0.45999999999999996

 г). От одной до двух деталей

In [22]:
# Вероятность того, что выйдет из строя только 1 деталь
p1 = Q1 * P2 * Q3
p2 = P1 * Q2 * Q3
p3 = Q1 * Q2 * P3
P_1 = p1 + p2 + p3
P_1

0.375

In [23]:
P_1 + P_2

0.455

In [24]:
P_0 + P_1 + P_2 + P_3

1.0